<!DOCTYPE html>

<html lang='en'>

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Temperatura</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
</head>

<body>

    <div class="row">

        <div class="col">
            <div class="leftside">
                <h1>Lista de dispositivos</h1>
                <ul id="list-section">

                </ul>
                <button id="list-button">

                    </ul>
            </div>

        </div>

        <div class="col">
            <div class="rightside">
                <h2>Plot de Temperatura</h2>
                <canvas id="myChart" width="700" height="700"></canvas>
            </div>
        </div>
    </div>
    <script>
        var selectedDevice = null;
        async function printBtn() {
            const url = 'https://us-east-1.aws.webhooks.mongodb-realm.com/api/client/v2.0/app/temperature_analysis-gjbaa/service/get_devices/incoming_webhook/get_devices?db=iot&collection=readings';
            const response = await fetch(url);
            const data = await response.json();
            const items = [];
            for (i = 0; i < data.length; i++) {
                items.push(data[i].$numberLong);
                //console.log(data[i].$numberLong);
            }
            selectedDevice = items[0];
            //console.log(selectedDevice)
            items.push(1203);//only to add some more itens to the list
            for (let i = 0; i < items.length; i++) {
                const btn = document.createElement("button");
                btn.id = "btnItems";
                btn.textContent = items[i];
                btn.style.width = "200px";
                btn.style.height = "50px";
                btn.style.background = "gray";
                btn.style.color = "black";
                btn.style.display = "block";

                btn.onclick = function (el) {
                    // disable your button immediately upon click
                    //el.target.disabled = true;
                    // create list element and assign value
                    //const li = document.createElement('li');
                    //li.textContent = items[i]
                    selectedDevice = items[i];
                    // append list element to your <ul> list 
                    adddata();
                    document.getElementById('list-section').appendChild(li);
                }
                // append button to the DOM
                //document.body.appendChild(btn)
                document.getElementById("list-button").appendChild(btn)
            }
        }

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Temperature',
                    data: [],
                    fill: false,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false, //config responsible to resize chart
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        async function adddata() {
            temp_data = await getDataTemperature();
            console.log(temp_data)
            myChart.data.datasets[0].data = temp_data.ys;
            myChart.data.labels = temp_data.xs;
            myChart.update();
        }

        async function getDataTemperature() {
            const link = 'https://us-east-1.aws.webhooks.mongodb-realm.com/api/client/v2.0/app/temperature_analysis-gjbaa/service/get_temperature/incoming_webhook/get_temperature?db=iot&collection=readings';
            const url = link + "&device=" + selectedDevice
            const response = await fetch(url);
            const data = await response.json();
            const ys = [];
            const xs = [];

            //const obj = JSON.parse(data[0]);
            for (i = 0; i < data.length; i++) {
                ys.push((data[i].sensor.temperature));
                xs.push(i);
                console.log(((data[i].sensor.temperature)));
            }
            //document.getElementById("demo").innerHTML = ys;
            return { xs, ys };
        }
        printBtn();
        adddata();
        setInterval(adddata, 1000);
        //getDataTemperature();
    </script>
    </script>
</body>